@import url(https://fonts.googleapis.com/css?family=Slabo+27px);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Slabo 27px', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Slabo 27px', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Slabo 27px', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Slabo 27px', serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Slabo 27px', serif;
}
.mbr-author-desc {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Slabo 27px', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Slabo 27px', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #95b9c9 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #b8312f !important;
}
.bg-warning {
  background-color: #871e00 !important;
}
.bg-danger {
  background-color: #a72c00 !important;
}
.btn-primary {
  background-color: #95b9c9;
  border-color: #95b9c9;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6298af;
  border-color: #6298af;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6298af !important;
  border-color: #6298af !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #871e00;
  border-color: #871e00;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #3b0d00;
  border-color: #3b0d00;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #3b0d00 !important;
  border-color: #3b0d00 !important;
}
.btn-danger {
  background-color: #a72c00;
  border-color: #a72c00;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #5b1800;
  border-color: #5b1800;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #5b1800 !important;
  border-color: #5b1800 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #548ba4;
  color: #548ba4;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #95b9c9;
  border-color: #95b9c9;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #95b9c9 !important;
  border-color: #95b9c9 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #210700;
  color: #210700;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #871e00;
  border-color: #871e00;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #871e00 !important;
  border-color: #871e00 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #411100;
  color: #411100;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #a72c00;
  border-color: #a72c00;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #a72c00 !important;
  border-color: #a72c00 !important;
}
.text-primary {
  color: #95b9c9 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #b8312f !important;
}
.text-warning {
  color: #871e00 !important;
}
.text-danger {
  color: #a72c00 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #b8312f;
}
.alert-warning {
  background-color: #871e00;
}
.alert-danger {
  background-color: #a72c00;
}
.btn-social {
  border-color: #95b9c9;
}
.btn-social:hover {
  background: #95b9c9;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #95b9c9;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #95b9c9;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #95b9c9;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #95b9c9;
}
.lead a,
.lead a:hover {
  color: #95b9c9;
}
.lead blockquote {
  border-color: #95b9c9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ff3e07;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ff6027;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #95b9c9;
}
#header5-7 .mbr-section-title {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  font-size: 32px;
}
#header5-7 .mbr-section-lead {
  color: #ffffff;
  font-size: 32px;
}
#header5-7 .mbr-section-title SPAN {
  font-size: 84px;
  color: #ffffff;
}
#header5-7 .mbr-section-title P {
  font-size: 46px;
}
#ext_menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-j .navbar-caption {
  color: #ffffff;
}
#ext_menu-j .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-j .close-icon::before,
#ext_menu-j .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-j .link,
#ext_menu-j .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-j .link {
  font-size: 0.8rem;
}
#ext_menu-j .dropdown-item,
#ext_menu-j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-j .link:hover,
#ext_menu-j .dropdown-item:hover,
#ext_menu-j .link:focus,
#ext_menu-j .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-menu {
  background: #050607;
}
#ext_menu-j .nav-dropdown-sm .link:focus,
#ext_menu-j .nav-dropdown-sm .link:hover,
#ext_menu-j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-j .navbar,
#ext_menu-j .nav-dropdown-sm,
#ext_menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-j .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-j .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-j .bg-color.transparent.opened .link:hover,
#ext_menu-j .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#contacts4-k P {
  color: #95b9c9;
}
#contacts4-k UL {
  color: #95b9c9;
}
#msg-box8-53 .mbr-section-title,
#msg-box8-53 p {
  color: #fff;
}





#msg-box5-15 H3 {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-15 P {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-15 SPAN {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-m .navbar-caption {
  color: #ffffff;
}
#ext_menu-m .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-m .close-icon::before,
#ext_menu-m .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-m .link,
#ext_menu-m .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-m .link {
  font-size: 0.8rem;
}
#ext_menu-m .dropdown-item,
#ext_menu-m .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-m .link:hover,
#ext_menu-m .dropdown-item:hover,
#ext_menu-m .link:focus,
#ext_menu-m .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-menu {
  background: #050607;
}
#ext_menu-m .nav-dropdown-sm .link:focus,
#ext_menu-m .nav-dropdown-sm .link:hover,
#ext_menu-m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-m .navbar,
#ext_menu-m .nav-dropdown-sm,
#ext_menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-m .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-m .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-m .bg-color.transparent.opened .link:hover,
#ext_menu-m .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#content1-u P {
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#content1-u DIV {
  color: #95b9c9;
}




#msg-box5-z SPAN {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-z P {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
}
#ext_menu-o .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-o .link {
  font-size: 0.8rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #050607;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-o .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#content1-y P {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}




#ext_menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-q .navbar-caption {
  color: #ffffff;
}
#ext_menu-q .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-q .close-icon::before,
#ext_menu-q .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-q .link,
#ext_menu-q .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-q .link {
  font-size: 0.8rem;
}
#ext_menu-q .dropdown-item,
#ext_menu-q .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-q .link:hover,
#ext_menu-q .dropdown-item:hover,
#ext_menu-q .link:focus,
#ext_menu-q .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-q .link[aria-expanded="true"],
#ext_menu-q .dropdown-menu {
  background: #050607;
}
#ext_menu-q .nav-dropdown-sm .link:focus,
#ext_menu-q .nav-dropdown-sm .link:hover,
#ext_menu-q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-q .navbar,
#ext_menu-q .nav-dropdown-sm,
#ext_menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-q .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-q .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-q .bg-color.transparent.opened .link:hover,
#ext_menu-q .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-q .link[aria-expanded="true"],
#ext_menu-q .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#msg-box5-11 H3 {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-11 P {
  font-family: 'Slabo 27px', serif;
}
#content1-12 P {
  font-family: 'Slabo 27px', serif;
  color: #95b9c9;
}




#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-s .link {
  font-size: 0.8rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #050607;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-s .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#msg-box5-13 H3 {
  font-family: 'Slabo 27px', serif;
}
#msg-box5-13 P {
  font-family: 'Slabo 27px', serif;
}
#content1-14 P {
  font-family: 'Slabo 27px', serif;
  color: #95b9c9;
}

#content1-2y P {
  color: #95b9c9;
}
#ext_menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1e .navbar-caption {
  color: #ffffff;
}
#ext_menu-1e .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-1e .close-icon::before,
#ext_menu-1e .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-1e .link,
#ext_menu-1e .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1e .link {
  font-size: 0.8rem;
}
#ext_menu-1e .dropdown-item,
#ext_menu-1e .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1e .link:hover,
#ext_menu-1e .dropdown-item:hover,
#ext_menu-1e .link:focus,
#ext_menu-1e .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-menu {
  background: #050607;
}
#ext_menu-1e .nav-dropdown-sm .link:focus,
#ext_menu-1e .nav-dropdown-sm .link:hover,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1e .navbar,
#ext_menu-1e .nav-dropdown-sm,
#ext_menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1e .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1e .bg-color.transparent.opened .link:hover,
#ext_menu-1e .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#image1-2s DIV {
  text-align: left;
  color: #0e0e0e;
}
#image1-2t DIV {
  color: #000000;
}

#ext_menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1j .navbar-caption {
  color: #ffffff;
}
#ext_menu-1j .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-1j .close-icon::before,
#ext_menu-1j .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-1j .link,
#ext_menu-1j .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1j .link {
  font-size: 0.8rem;
}
#ext_menu-1j .dropdown-item,
#ext_menu-1j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1j .link:hover,
#ext_menu-1j .dropdown-item:hover,
#ext_menu-1j .link:focus,
#ext_menu-1j .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1j .link[aria-expanded="true"],
#ext_menu-1j .dropdown-menu {
  background: #050607;
}
#ext_menu-1j .nav-dropdown-sm .link:focus,
#ext_menu-1j .nav-dropdown-sm .link:hover,
#ext_menu-1j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1j .navbar,
#ext_menu-1j .nav-dropdown-sm,
#ext_menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1j .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1j .bg-color.transparent.opened .link:hover,
#ext_menu-1j .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1j .link[aria-expanded="true"],
#ext_menu-1j .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-33 BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1l .navbar-caption {
  color: #ffffff;
}
#ext_menu-1l .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-1l .close-icon::before,
#ext_menu-1l .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-1l .link,
#ext_menu-1l .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1l .link {
  font-size: 0.8rem;
}
#ext_menu-1l .dropdown-item,
#ext_menu-1l .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1l .link:hover,
#ext_menu-1l .dropdown-item:hover,
#ext_menu-1l .link:focus,
#ext_menu-1l .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1l .link[aria-expanded="true"],
#ext_menu-1l .dropdown-menu {
  background: #050607;
}
#ext_menu-1l .nav-dropdown-sm .link:focus,
#ext_menu-1l .nav-dropdown-sm .link:hover,
#ext_menu-1l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1l .navbar,
#ext_menu-1l .nav-dropdown-sm,
#ext_menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1l .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1l .bg-color.transparent.opened .link:hover,
#ext_menu-1l .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1l .link[aria-expanded="true"],
#ext_menu-1l .dropdown-item[aria-expanded="true"] {
  color: #95b9c9!important;
}
#content2-39 BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1n .navbar-caption {
  color: #ffffff;
}
#ext_menu-1n .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-1n .close-icon::before,
#ext_menu-1n .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-1n .link,
#ext_menu-1n .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1n .link {
  font-size: 0.8rem;
}
#ext_menu-1n .dropdown-item,
#ext_menu-1n .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1n .link:hover,
#ext_menu-1n .dropdown-item:hover,
#ext_menu-1n .link:focus,
#ext_menu-1n .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-menu {
  background: #050607;
}
#ext_menu-1n .nav-dropdown-sm .link:focus,
#ext_menu-1n .nav-dropdown-sm .link:hover,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1n .navbar,
#ext_menu-1n .nav-dropdown-sm,
#ext_menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1n .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1n .bg-color.transparent.opened .link:hover,
#ext_menu-1n .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1n .link[aria-expanded="true"],
#ext_menu-1n .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-3i BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-1r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1r .navbar-caption {
  color: #ffffff;
}
#ext_menu-1r .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-1r .close-icon::before,
#ext_menu-1r .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-1r .link,
#ext_menu-1r .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1r .link {
  font-size: 0.8rem;
}
#ext_menu-1r .dropdown-item,
#ext_menu-1r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1r .link:hover,
#ext_menu-1r .dropdown-item:hover,
#ext_menu-1r .link:focus,
#ext_menu-1r .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1r .link[aria-expanded="true"],
#ext_menu-1r .dropdown-menu {
  background: #050607;
}
#ext_menu-1r .nav-dropdown-sm .link:focus,
#ext_menu-1r .nav-dropdown-sm .link:hover,
#ext_menu-1r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1r .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1r .navbar,
#ext_menu-1r .nav-dropdown-sm,
#ext_menu-1r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1r .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1r .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-1r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1r .bg-color.transparent.opened .link:hover,
#ext_menu-1r .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1r .link[aria-expanded="true"],
#ext_menu-1r .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-3n BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-1t .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1t .navbar-caption {
  color: #ffffff;
}
#ext_menu-1t .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-1t .close-icon::before,
#ext_menu-1t .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-1t .link,
#ext_menu-1t .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1t .link {
  font-size: 0.8rem;
}
#ext_menu-1t .dropdown-item,
#ext_menu-1t .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1t .link:hover,
#ext_menu-1t .dropdown-item:hover,
#ext_menu-1t .link:focus,
#ext_menu-1t .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1t .link[aria-expanded="true"],
#ext_menu-1t .dropdown-menu {
  background: #050607;
}
#ext_menu-1t .nav-dropdown-sm .link:focus,
#ext_menu-1t .nav-dropdown-sm .link:hover,
#ext_menu-1t .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1t .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1t .navbar,
#ext_menu-1t .nav-dropdown-sm,
#ext_menu-1t .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1t .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1t .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-1t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1t .bg-color.transparent.opened .link:hover,
#ext_menu-1t .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1t .link[aria-expanded="true"],
#ext_menu-1t .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-3y BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1y .navbar-caption {
  color: #ffffff;
}
#ext_menu-1y .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-1y .close-icon::before,
#ext_menu-1y .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-1y .link,
#ext_menu-1y .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-1y .link {
  font-size: 0.8rem;
}
#ext_menu-1y .dropdown-item,
#ext_menu-1y .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1y .link:hover,
#ext_menu-1y .dropdown-item:hover,
#ext_menu-1y .link:focus,
#ext_menu-1y .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-menu {
  background: #050607;
}
#ext_menu-1y .nav-dropdown-sm .link:focus,
#ext_menu-1y .nav-dropdown-sm .link:hover,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-1y .navbar,
#ext_menu-1y .nav-dropdown-sm,
#ext_menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-1y .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1y .bg-color.transparent.opened .link:hover,
#ext_menu-1y .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-46 BLOCKQUOTE {
  color: #95b9c9;
}

#ext_menu-20 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-20 .navbar-caption {
  color: #ffffff;
}
#ext_menu-20 .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-20 .close-icon::before,
#ext_menu-20 .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-20 .link,
#ext_menu-20 .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-20 .link {
  font-size: 0.8rem;
}
#ext_menu-20 .dropdown-item,
#ext_menu-20 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-20 .link:hover,
#ext_menu-20 .dropdown-item:hover,
#ext_menu-20 .link:focus,
#ext_menu-20 .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-menu {
  background: #050607;
}
#ext_menu-20 .nav-dropdown-sm .link:focus,
#ext_menu-20 .nav-dropdown-sm .link:hover,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-20 .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-20 .navbar,
#ext_menu-20 .nav-dropdown-sm,
#ext_menu-20 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-20 .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-20 .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-20 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-20 .bg-color.transparent.opened .link:hover,
#ext_menu-20 .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-20 .link[aria-expanded="true"],
#ext_menu-20 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-4i BLOCKQUOTE {
  color: #ffffff;
}
#content2-4i P {
  color: #95b9c9;
}

#content2-4q BLOCKQUOTE {
  color: #95b9c9;
}
#ext_menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-22 .navbar-caption {
  color: #ffffff;
}
#ext_menu-22 .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-22 .close-icon::before,
#ext_menu-22 .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-22 .link,
#ext_menu-22 .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-22 .link {
  font-size: 0.8rem;
}
#ext_menu-22 .dropdown-item,
#ext_menu-22 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-22 .link:hover,
#ext_menu-22 .dropdown-item:hover,
#ext_menu-22 .link:focus,
#ext_menu-22 .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-22 .link[aria-expanded="true"],
#ext_menu-22 .dropdown-menu {
  background: #050607;
}
#ext_menu-22 .nav-dropdown-sm .link:focus,
#ext_menu-22 .nav-dropdown-sm .link:hover,
#ext_menu-22 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-22 .navbar,
#ext_menu-22 .nav-dropdown-sm,
#ext_menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-22 .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-22 .bg-color.transparent.opened .link:hover,
#ext_menu-22 .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-22 .link[aria-expanded="true"],
#ext_menu-22 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}

#ext_menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2k .navbar-caption {
  color: #ffffff;
}
#ext_menu-2k .navbar-toggler {
  color: #7c9aa7;
}
#ext_menu-2k .close-icon::before,
#ext_menu-2k .close-icon::after {
  background-color: #7c9aa7;
}
#ext_menu-2k .link,
#ext_menu-2k .dropdown-item {
  color: #7c9aa7;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-2k .link {
  font-size: 0.8rem;
}
#ext_menu-2k .dropdown-item,
#ext_menu-2k .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-2k .link:hover,
#ext_menu-2k .dropdown-item:hover,
#ext_menu-2k .link:focus,
#ext_menu-2k .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-menu {
  background: #050607;
}
#ext_menu-2k .nav-dropdown-sm .link:focus,
#ext_menu-2k .nav-dropdown-sm .link:hover,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-2k .navbar,
#ext_menu-2k .nav-dropdown-sm,
#ext_menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-2k .bg-color.transparent .link {
  color: #7c9aa7;
  transition: none;
}
#ext_menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2k .bg-color.transparent.opened .link:hover,
#ext_menu-2k .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}

#ext_menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2p .navbar-caption {
  color: #ffffff;
}
#ext_menu-2p .navbar-toggler {
  color: #95b9c9;
}
#ext_menu-2p .close-icon::before,
#ext_menu-2p .close-icon::after {
  background-color: #95b9c9;
}
#ext_menu-2p .link,
#ext_menu-2p .dropdown-item {
  color: #95b9c9;
  font-family: 'Slabo 27px', serif;
}
#ext_menu-2p .link {
  font-size: 0.8rem;
}
#ext_menu-2p .dropdown-item,
#ext_menu-2p .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-2p .link:hover,
#ext_menu-2p .dropdown-item:hover,
#ext_menu-2p .link:focus,
#ext_menu-2p .dropdown-item:focus {
  color: #95b9c9;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-menu {
  background: #050607;
}
#ext_menu-2p .nav-dropdown-sm .link:focus,
#ext_menu-2p .nav-dropdown-sm .link:hover,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #15171b!important;
}
#ext_menu-2p .navbar,
#ext_menu-2p .nav-dropdown-sm,
#ext_menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #1c1e23;
}
#ext_menu-2p .bg-color.transparent .link {
  color: #95b9c9;
  transition: none;
}
#ext_menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2p .bg-color.transparent.opened .link:hover,
#ext_menu-2p .bg-color.transparent.opened .link:focus {
  color: #95b9c9;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#content2-36 BLOCKQUOTE {
  color: #95b9c9;
}
